<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title><%= student.name %>'s Details</title>
  </head>
  <body>
    <body>
      <h1><%= student.name %>'s Details</h1>
      <p>Name: <%= student.name %></p>
      <p>Grade: <%= student.grade %></p>
      <p>Phone Number: <%= student.number %></p>
      <a class="back" href="/students">
        Click here to go back to student list
      </a>
    </body>
  </body>
</html>
